@model SistemaInformacionPersonal.App_Data.USUARIOS

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalle</h2>

<div>
    <h4>USUARIOS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRES)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APELLIDOS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APELLIDOS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DUI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DUI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TELEFONO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TELEFONO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIRECCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIRECCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NIVEL_EDUCATIVO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NIVEL_EDUCATIVO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ANIOS_EXPERIENCIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ANIOS_EXPERIENCIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PLAZA_ACTUAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PLAZA_ACTUAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACTIVO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACTIVO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CURRICULUMS.RUTA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CURRICULUMS.RUTA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SESIONES.CORREO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SESIONES.CORREO)
        </dd>

    </dl>
</div>
<p>
    @* @Html.ActionLink("Edit", "Editar", new { id = Model.ID_USUARIO }) | *@
    @Html.ActionLink("Back to List", "Index")
</p>
