@model IEnumerable<SistemaInformacionPersonal.App_Data.USUARIOS>

@{
    ViewBag.Title = "Usuarios activos";
}

<h2>Listado de usuarios activos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-sm table-hover">
    <thead class="table-dark">
    <tr>
        <th>
            NOMBRES
        </th>
        <th>
            APELLIDOS
        </th>
        <th>
            DUI
        </th>
        <th>
            PLAZA
        </th>
        <th>
            ACCIONES
        </th>
    </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NOMBRES)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.APELLIDOS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DUI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PLAZA_ACTUAL)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID_USUARIO }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID_USUARIO }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID_USUARIO })
            </td>
        </tr>
    }

</table>
